@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-6">Hello, Miha's Demo Repository!</h1>
    <p>Server time is: @DateTime.Now</p>
</div>

<div>
    <p>The app is created with a simple <code>dotnet new webapp [...]</code> command.</p>
    <p>This creates an ASP.NET project which hosts a couple pages by default and uses stock Bootstrap with a couple of
        changes made in an additional css file (to make it Microsoft-y)!</p>
    <p>Pages are located in the <code>Pages</code> directory, and the common stuff (CSS imports, header, navigation,
        footer) is located in the <code>Pages/Shared</code> directory.</p>
</div>
